{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}

    <br><br>
    <h1>Accueil</h1>
    <br><br>
    <p><img src="{{ asset('images/crieeAccueil.jpeg')}}" alt="image"></p
{% endblock %}
