{% extends 'base.html.twig' %}

{% block title %}Peche du jour{% endblock %}

     {% block body %}

     <br><br>
     <h1>Pêche du jour</h1>
     <br><br>
     <p><img src="{{ asset('images/peche.jpeg')}}" alt="image"></p   

     {% endblock %}

