{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}

     <br><br>
     <h1>A propos</h1>
     <br><br>
     <p><img src="{{ asset('images/apropos.jpeg')}}" alt="image"></p

{% endblock %}
